* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.container > div {
  border: 1px solid black;
  flex: 1;
  flex-basis: 6.1%;
}
